{% extends "home.html" %}
{% block title %}
Approvals
{% endblock %}


{% block content %}
<div class="bg-white p-8  sm:w-full">

    <h1 class="text-3xl font-semibold mb-6">Approvals </h1>
    <a href="/approval/create/" class="inline-flex mr-5 items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
        Add Approval        
    </a>

    <div class="grid grid-cols-1  lg:grid-cols-2 gap-6 mt-4">

        {% for approval in approvals %}
        <card class="col-span-1  bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100">
            <a href="/company/{{company.name}}/approvals/"
                class="block max-w-sm p-6">

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
                    {{approval.header_detail}}
                </h5>
                <p class="font-normal text-gray-700">
                    {{approval.line_item_detail}}
                </p>
                <p class="font-normal text-gray-700">
                    {{approval.status}}
                </p>
                
            </a>
            <!--

               < a href="/approval/{{company.id}}/remove/" class="inline-flex ml-6 mb-6 items-center bg-red-100 border-0 py-1 px-3 focus:outline-none hover:bg-red-200 rounded text-base mt-4 md:mt-0">
                Remove      
            </a>
            -->
            
        </card>
        {%endfor%}

        <!-- Add more cards as needed -->

    </div>
            
    
    
    <!-- User Info Card -->
    
</div>

 
{% endblock %}


