{% extends "base.html" %}
{% block title %}
Login
{% endblock %}


{% block body %}

<div class="min-h-screen  flex flex-col items-center justify-center">

    <div class="md:mt-10">
      <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 "">
        <a href="/" >
          Home
        </a>
        <div class="mt-4 self-center ttext-xl font-medium text-gray-900 ">Enter your credentials to access your account</div>

        <form class="space-y-6" method="post">
            
            
            {% for field in form %}
              {%csrf_token %}
              <div>
                <label for="{{field.auto_id}}" class="block mb-2 text-sm font-medium text-gray-900 ">{{field.label}}</label>
                {{field}}
              </div>
      
            {%endfor%}
           
            <!--
            <div class="flex items-start"> 
                        <a href="/profiles/forgot/password/" class="ml-auto text-sm text-blue-700 hover:underline ">Lost Password?</a>
                    </div>
            -->
       
            <input type="submit" value="Login" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Not registered? <a href="/register/" class="text-blue-700 hover:underline dark:text-blue-500">Create account</a>
            </div>
        </form>
      </div>
      
      <ul class="messages mt-2 ">
        {% if form.errors %}
              {% for field in form %}

                  {% for error in field.errors %}
                      <li><p class="text-red-900">{{field.label}}: <span class="text-red=700">{{ error|escape }}</span></p>  </li>
                  {% endfor %}

              {% endfor %}
        {% endif %}
      </ul>
    </div>
</div>

 
{% endblock %}


