{% extends "home.html" %}
{% block title %}
Profile
{% endblock %}


{% block content %}
<div class="bg-white p-8  sm:w-96">

    <h1 class="text-3xl font-semibold mb-6">User Profile</h1>
   
    <!-- User Info Card -->
    <div class="space-y-4">


        <a href="/approval/{{approval.id}}/delete/" class="absolute top-0 right-0 mt-4 mr-4 text-white font-medium items-center bg-green-400 border-0 py-1 px-3 focus:outline-none hover:bg-green-500 rounded text-base ">
                Edit Profile      
        </a>


        <div>
            <label for="firstName" class="text-gray-600">First Name:</label>
            <p id="firstName" class="text-xl font-medium">{{user.first_name}}</p>
        </div>
        <div>
            <label for="lastName" class="text-gray-600">Last Name:</label>
            <p id="lastName" class="text-xl font-medium">
            
                {{user.last_name}}
         
                
        </p>
        </div>
        <div>
            <label for="email" class="text-gray-600">Email:</label>
            <p id="email" class="text-xl font-medium">{{user.email}}</p>
        </div>
        <div>
            <label for="company" class="text-gray-600">Company:</label>
            <p id="company" class="text-xl font-medium">{{profile.company}}</p>
        </div>
        <div>
            <label for="role" class="text-gray-600">Role:</label>
            <p id="role" class="text-xl font-medium">{{profile.role}}</p>
        </div>

        <!--
        <div>
            <label for="apiKey" class="text-gray-600">API Key:</label>
            <p id="apiKey" class="text-xl font-medium">
            
                {{profile.api_key}}
            
            </p>
        </div>

        -->
        
    </div>

</div>
</div>

 
{% endblock %}


