{% extends 'home.html' %}

{% block title %}
Registration
{%endblock %}

{% block body %}
<div class="md:mt-10">
      
    <div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
      <a href="/"  class="font-bold">
        Home
      </a>
      <div class="mt-4 self-center ttext-xl font-medium text-gray-900 dark:text-white">Enter your details to create your account</div>

      <form method="post" class="mt-6">
        {%csrf_token %}
        {% for field in form %}
          
          
            <div class="relative z-0 w-full mb-6 group">
              {{field}}
              <label for="{field.auto_id}}" class="peer-focus:font-medium absolute text-md  text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{field.label}}</label>
        
            </div>

    
        {%endfor%}
          
          
          
        <input type="submit" value="Rsgister" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        </form>
        
    </div>
    
    <ul class="messages mt-2 ">
      {% if form.errors %}
            {% for field in form %}

                {% for error in field.errors %}
                    <li><p class="text-red-900">{{field.label}}: <span class="text-red=700">{{ error|escape }}</span></p>  </li>
                {% endfor %}

            {% endfor %}
      {% endif %}
    </ul>
  </div>
{% endblock %}